{% extends 'base2.html' %}
{% block title %}
    Development Courses
{% endblock title %}

{% block style %}
    
<style>
    body {
        font-family: 'Roboto', sans-serif;
    }
    
    .box {
        display: flex;
        justify-content: space-between;
    }
</style>
{% endblock style %}


{% block main %}
    
<main class="containe px-4 py-8">
    <h1 class="text-center mt-4">
        Development Courses
    </h1>
    <p class="mb-6">
        Courses to get you started
    </p>
    <p class="mb-8">
        Explore courses from experienced, real-world experts.
    </p>
    <div class="flex space-x-4 mb-4">
        <p style="font-weight: 700; font-size:20px; text-decoration:underline" class="text-center">
            Most popular
        </p>


    </div>
    <div class="box">


        <div class="overflow-hidden shadow-lg card" style="width: 20rem;">
            <a href="https://youtu.be/bqAU2k8JQa8?si=6xPVwZG3IWpteF0L" target="_blank">
                <img alt="Illustration of a laptop with Python logo and a wrench" class="card-img-top"
                    src="https://storage.googleapis.com/a1aa/image/DmUGS0E7jSYUtCzhS1R0_lRmFEhQl06ymKH4hcXiM_E.jpg"></a>
            <div class="p-4">
                <h2 class="text-lg font-bold">
                    The Complete Python Bootcamp From Zero to Hero in Python
                </h2>
                <p class="text-gray-600">
                    Jose Portilla, Pierian Training
                </p>
                <div class="flex items-center mt-2">
                    <span style="color:darkorange;">
                        <i class="fas fa-star">
                        </i>
                    </span>
                    <span style="color:darkorange;">
                        <i class="fas fa-star">
                        </i>
                    </span>
                    <span style="color:darkorange;">
                        <i class="fas fa-star">
                        </i>
                    </span>
                    <span style="color:darkorange;">
                        <i class="fas fa-star">
                        </i>
                    </span>
                    <span style="color:darkorange;">
                        <i class="fas fa-star-half-alt">
                        </i>
                    </span>
                    <span class="ml-2 text-gray-600">
                        4.6 (528,937)
                    </span>
                </div>
            </div>
        </div>




        <div class="card overflow-hidden shadow-lg" style="width: 20rem;">
            <a href="https://youtu.be/R6RX2Zx96fE?si=zKQSBxmiH7n67OYJ" target="_blank">
                <img alt="Illustration of a woman with various web development logos" class="card-img-top"
                    src="https://storage.googleapis.com/a1aa/image/GVy1lkivCnrCe08jgX2_wuCvd1W_UfTZtlgvXkJ1RM4.jpg"></a>
            <div class="p-4">
                <h2 class="text-lg font-bold">
                    The Complete Full-Stack Web Development Bootcamp
                </h2>
                <p class="text-gray-600">
                    Dr. Angela Yu, Developer and Lead Instructor
                </p>
                <div class="flex items-center mt-2">
                    <span style="color:darkorange;">
                        <i class="fas fa-star">
                        </i>
                    </span>
                    <span style="color:darkorange;">
                        <i class="fas fa-star">
                        </i>
                    </span>
                    <span style="color:darkorange;">
                        <i class="fas fa-star">
                        </i>
                    </span>
                    <span style="color:darkorange;">
                        <i class="fas fa-star">
                        </i>
                    </span>
                    <span style="color:darkorange;">
                        <i class="fas fa-star-half-alt">
                        </i>
                    </span>
                    <span class="ml-2 text-gray-600">
                        4.7 (424,105)
                    </span>
                </div>
            </div>
        </div>



        <div class="card overflow-hidden shadow-lg" style="width: 20rem;">
            <a href="https://youtu.be/KBYN6_-YTFU?si=tAqvOaopMBK-JmqB" target="_blank">
                <img alt="Illustration of a woman with Python logo and colorful background" class="card-img-top"
                    height="400"
                    src="https://storage.googleapis.com/a1aa/image/WjwEbw4BL-5wrrQKFAqyRcUinu1CW37byCZL1OLkTIw.jpg" " /></a>
            <div class=" p-4">
                <h2 class="text-lg font-bold">
                    100 Days of Code: The Complete Python Pro Bootcamp
                </h2>
                <p class="text-gray-600">
                    Dr. Angela Yu, Developer and Lead Instructor
                </p>
                <div class="flex items-center mt-2">
                    <span style="color:darkorange;">
                        <i class="fas fa-star">
                        </i>
                    </span>
                    <span style="color:darkorange;">
                        <i class="fas fa-star">
                        </i>
                    </span>
                    <span style="color:darkorange;">
                        <i class="fas fa-star">
                        </i>
                    </span>
                    <span style="color:darkorange;">
                        <i class="fas fa-star">
                        </i>
                    </span>
                    <span style="color:darkorange;">
                        <i class="fas fa-star-half-alt">
                        </i>
                    </span>
                    <span class="ml-2 text-gray-600">
                        4.7 (351,094)
                    </span>
                </div>
        </div>
    </div>




    <div class="card overflow-hidden shadow-lg" style="width: 20rem;">
        <a href="https://youtu.be/1F_OgqRuSdI?si=gwnVcIt5eDqTj3y_" target="_blank">
            <img alt="Illustration of a laptop with Python logo" class="card-img-top" height="400"
                src="https://storage.googleapis.com/a1aa/image/OJxsTiXJVwcJIwp1Zucf3zOWrdKoaIAmOCbnDMe0nsk.jpg" " /></a>
            <div class=" p-4">
            <h2 class="text-lg font-bold">
                Automate the Boring Stuff with Python Programming
            </h2>
            <p class="text-gray-600">
                Al Sweigart
            </p>
            <div class="flex items-center mt-2">
                <span style="color:darkorange;">
                    <i class="fas fa-star">
                    </i>
                </span>
                <span style="color:darkorange;">
                    <i class="fas fa-star">
                    </i>
                </span>
                <span style="color:darkorange;">
                    <i class="fas fa-star">
                    </i>
                </span>
                <span style="color:darkorange;">
                    <i class="fas fa-star">
                    </i>
                </span>
                <span style="color:darkorange;">
                    <i class="fas fa-star-half-alt">
                    </i>
                </span>
                <span class="ml-2 text-gray-600">
                    4.6 (115,442)
                </span>
            </div>
    </div>
    </div>
    </div>
</main>
{% endblock main %}
    



